<div class="govuk-grid-row">
      <div class="govuk-grid-column-three-thirds">
        <div class="govuk-grid-row">
          {# === 1st card === #}
          <div class="govuk-grid-column-one-third">
            <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">View court information</h2>          
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <p>See information about the court case, including date, location, your requirements and verdicts.</p>

                  <p><a href="court-information">View court information</a></p>
                </div>
              </dl>
            </div>
          </div>
          {# === card end === #}

          {# === 2nd card === #}  
          <div class="govuk-grid-column-one-third">
            <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">View court information</h2>          
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <p>See information about the court case, including date, location, your requirements and verdicts.</p>

                  <p><a href="court-information">View court information</a></p>
                </div>
              </dl>
            </div>
          </div>
          {# === card end === #}
          
          {# === 3rd card === #}
          <div class="govuk-grid-column-one-third">
            <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">View court information</h2>          
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <p>See information about the court case, including date, location, your requirements and verdicts.</p>

                  <p><a href="court-information">View court information</a></p>
                </div>
              </dl>
            </div>
          </div>
          {# === card end === #}  
        </div>      
      </div>
    </div>